<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <body>
        <h1>Notícia Individual</h1>
        <table>
            <tr>
                <th>Titulo</th>
                <th>Notícia</th>
                <th>Data Criação</th>
                <th>Resumo</th>
                <th>Autor</th>
            </tr>
            <%noticias.forEach(noticia => { %>
                <tr>
                    <td><%=noticia.titulo%></td>
                    <td><%=noticia.noticia%></td>
                    <td><%=noticia.data_criacao%></td>
                    <td><%=noticia.resumo%></td>
                    <td><%=noticia.autor%></td>
                </tr>
            <%})%>
        </table>
    </body>
</body>
</html>